 /*===== GOOGLE FONTS =====*/
 @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

 /*===== VARIABLES CSS =====*/
 :root {
   --header-height: 3rem;
   --nav-bg: rgb(226, 246, 255);
   --body-bg: rgb(255, 255, 255);
   /*===== Colores =====*/
   --first-color: #3664F4;
   --dark-color: #070D1F;
   --dark-color-alt: #282B3A;
   --white-color: #E6E7E9;
   --content-height: calc(100% - calc(var(--header-height)));
   /*===== Fuente y tipografia =====*/
   --body-font: 'Arial', sans-serif;
   --normal-font-size: .938rem;
   --small-font-size: .813rem;
 
   /*===== z index =====*/
   --z-fixed: 1;
 }
 
 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
 }
 
 html, body {
   height: 100%;
   font-family: Arial, sans-serif;
 }
 
 @media screen and (min-width: 768px) {
   :root {
     --normal-font-size: 1rem;
     --small-font-size: .875rem;
   }
 }
 
 /*===== BASE =====*/
 *, ::before, ::after {
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
 }
 
 body {
   margin: var(--header-height) 0 0 0;
   font-family: var(--body-font);
   font-size: var(--normal-font-size);
   font-weight: 500;
 }
 
 ul {
   margin: 0;
   padding: 0;
   list-style: none;
 }
 
 a {
   text-decoration: none;
 }
 
 img {
   max-width: 100%;
   height: auto;
 }
 
 .bd-grid {
   max-width: 1024px;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 100%;
       grid-template-columns: 100%;
   margin-left: 1.5rem;
   margin-right: 1.5rem;
 }
 
 /*===== HEADER =====*/
 .header {
   width: 100%;
   height: var(--header-height);
   position: fixed;
   top: 0;
   left: 0;
   padding: 0 1.5rem;
   background-color: var(--nav-bg);
   z-index: var(--z-fixed);
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: justify;
       -ms-flex-pack: justify;
           justify-content: space-between;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .header__logo {
   color: var(--dark-color-alt);
 }
 
 .header__toggle {
   font-size: 1.5rem;
   color: var(--dark-color-alt);
   cursor: pointer;
 }
 
 
 
 
 
 
 
 
 
 
 
 /*===== NAV FOR MOBIILE=====*/
 @media screen and (max-width: 768px) {
   .nav {
     position: fixed;
     top: 0;
     left: -100%;
     background-color: var(--nav-bg);
     color: var(--dark-color-alt);
     width: 100%;
     height: 100vh;
     padding: 1.5rem 0;
     z-index: var(--z-fixed);
     -webkit-transition: .5s;
     transition: left .5s ease;
   }
 }
 .show {
  left: 0; /* Slide in from the left */
}
 
 .nav__content {
   height: 100%;
   -ms-grid-rows: max-content 1fr max-content;
       /* grid-template-rows: -webkit-max-content 1fr -webkit-max-content; */
       grid-template-rows: max-content 1fr max-content;
   row-gap: 2rem;
 }
 
 #nav-close {
   position: absolute;
   right: 1.5rem;
   font-size: 1.3rem;
   padding: .25rem;
   background-color: var(--nav-bg);
   border-radius: 50%;
   cursor: pointer;
 }
 .nav__close:hover {
 background-color:azure;
 
 }
 
 .nav__img {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-pack: center;
       -ms-flex-pack: center;
           justify-content: center;
   padding-top: .25rem;
   margin-bottom: .8rem;
   width: 56px;
   height: 56px;
   border-radius: 50%;
   overflow: hidden;
 }
 
 .nav__img img {
   width: 46px;
 }
 
 .nav__name {
   display: block;
   color: var(--dark-color-alt);
 }
 
 .nav__profesion {
   font-size: var(--small-font-size);
 }
 
 .nav__menu {
   -ms-flex-item-align: center;
       -ms-grid-row-align: center;
       align-self: center;
 }
 
 .nav__item {
   margin: 2.5rem 0;
 }
 
 .nav__link {
   color: var(--dark-color-alt);
 }
 
 .nav__link:hover {
   color: #a34002 ;
 }
 
 .nav__stuff {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
 }
 
 .nav__stuff-icon {
   font-size: 1.2rem;
   color: var(--dark-color-alt);
   margin-right: 1rem;
 }
 
 .nav__stuff-icon:hover {
   color: #a34002;
 }
 
 /*Aparecer menu*/
 .show {
   left: 0;
 }
 
 /*Active menu*/
 .active {
   color: #a34002;
 }
 
 
 
 
 
 
 
 
 
 
 /*===== NAV FOR DESKTOP=====*/
 @media screen and (min-width: 768px) {
   body {
     margin: 0;
   }
   .header {
     height: calc(var(--header-height) + 1rem);
   }
   .header__logo, .header__toggle {
     display: none;
   }
   .nav {
     width: 100%;
     height: 100%
   }
   .nav__content {
     display: grid; /* Ensure that the element is set to display as a grid */
     
     /* Standard grid-template-columns declaration */
     grid-template-columns: repeat(3, max-content);
 
     /* -ms-grid-columns fallback for older versions of IE */
     -ms-grid-columns: max-content max-content max-content;
     
     /* If using grid-template-rows, it should be consistent */
     grid-template-rows: 1fr;
     -ms-grid-rows: 1fr;
 
     /* Set column gap */
     column-gap: 1rem;
 
     /* Justify content with fallback */
     justify-content: space-between;
     -webkit-box-pack: justify; /* For older versions of Safari */
     -ms-flex-pack: justify; /* For IE10 and IE11 */
 }
   .nav__close, .nav__profesion {
     display: none;
   }
   .nav__perfil {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
   }
   .nav__img {
     padding-top: 0;
     width: 32px;
     height: 32px;
     margin-right: .5rem;
     margin-bottom: 0;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
   }
   .nav__img img {
     width: 26px;
   }
   .nav__menu{
     height: 100%;
   }
   .nav__list {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     height: 100%;
   }
   .nav__item {
     margin-right: .5rem;
     margin-bottom: 0;
     -webkit-box-align: center;
         -ms-flex-align: center;
             align-items: center;
     margin: 0 1rem;
     padding-top: 23px; 
     /* position: relative;
     width: 128.71880000000002px;
     z-index: 1;
     display: flex;
     justify-content: center;
     align-items: center; */
   }
 
  
   .nav__link {
     /* position: absolute; */
     padding: .5rem .8rem 1.1rem;
     border-radius: .25rem;
     color: var(--dark-color-alt);
   }
   .nav__link text{
     font-size: 16px;
     align-self: center;
   }
   .nav__link  {
     view-transition-name: nav;
     display: block;
     position: relative;
     z-index: 1;
 
 
     padding-bottom: 23px;
     padding-top: 10px;
 
     
   }
 
 
   .nav__link:hover {
     color: #a34002;
   }
   .nav__link:active {
     color: #a34002;
   }
 
   .active {
     view-transition-name: nav;
     display: block;
     background: var(--body-bg);
     position: relative;
     z-index: -1;
     background-color: var(--body-bg);
     border-radius: 15px 15px 0 0;
   }
 
   ::view-transition-group(nav) {
     animation-duration: 2s;
   }
   .active:before,
   .active:after {
     --vertical-distance: 1rem;
     --horizontal-distance: 1rem;
     content: "";
     position: absolute;
     width: 10px;
     height: 10px;
     background: var(--nav-bg);
     --border-radius: 1.9rem;
   }
   
   .active::before {
     border-radius: 0 0  var(--border-radius) 0 ;
     top: var(--border-radius);
     left: -0.65rem;
     box-shadow: 5px 5px 0 5px var(--body-bg);
   }
   
   .active::after {
     border-radius: 0  0  0  var(--border-radius);
     right: -0.65rem;
     top: var(--border-radius);
     box-shadow: -5px 5px 0 5px var(--body-bg);
   }
 
 
 }
 
 @media screen and (min-width: 1024px) {
   .bd-grid {
     margin-left: auto;
     margin-right: auto;
   }
 }
 

 body, html {
   margin: 0;
   padding: 0;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .main_content {
  display: flex; /* Default display */
  top: var(--header-height);
  align-items: center;
  position: fixed;
  justify-content: center;
  height: calc(100vh - var(--header-height));
  background-color: var(--body-bg);
  width: 100%;
  flex-direction: column;
  margin-top: calc(var(--header-height) - 30px);
}


.container {
  display: flex;
  flex-direction: row;  /* Align children in a row */
  width: 95%;
  height: 90%;
  /* background-color: azure; */
  position: absolute;
  top: 30px;
  border-radius: 16px;
}
/* 
.childContainer {
  flex: 1;
  border-left: 1px solid black;
  border-right: 1px solid black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
}

.childContainer:first-child {
  border-left: none;
  border-radius: 16px 0 0 16px;
}

.childContainer:last-child{
  border-right: none;
  border-radius: 0 16px 16px 0;
} */



.emailContainer{
  width: 75%;
  height: 100%;

  text-align: left;
  display: flex;
  /* justify-content: center;
  align-items: center;  */
  border-radius: 16px 16px 16px 16px;
  margin-left: 10px;
  flex-direction: column;  /* Align children in a row */
}
.searchBar {
  width: 50%;
  height: 6%;
  display: flex;  /* Add flexbox */
  justify-content: center;  /* Center horizontally */
  align-items: center;  /* Center vertically */
  flex-direction: row;  /* Align children in a row */
  background-color: rgb(177, 183, 183);
  border-radius: 20px;
  position: absolute;
}

.emailsBox {
  width: 100%;
  height: 93%;
  position: relative;
  top: 7%;
  background-color: rgb(201, 204, 204);
  border-radius: 16px;
}

#searchIcon {
  height: 24px;
  width: 24px;
  margin-left: 10px;  /* Adjust spacing */
}

#searchInput {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: transparent;
  border: none;
  padding-left: 10px;  /* Add padding for better alignment */
}

#searchInput:active {
  border-color: azure;
}

.labelContainer{
  width:25%;
  height: 100%;
  background-color: rgb(178, 186, 186);
  text-align: left;
  display: flex;
  border-radius: 16px 16px 16px 16px;
  margin-right: 10px;
  flex-direction: column;
}
#labelList{
  
}

#labelTitle{
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  text-align: left;
}


#labelListContainer{
  font-size: 10px;
  margin-left: 15px;
  text-align: left;

}